*{
    padding: 0;
    margin: 0;
}



a{
   text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    background-color: gainsboro;
}

img {
    width: 100%;
}

@media ( min-width: 300px ) {

    /* HEADER part */
    header {

        display: flex;
        flex-direction: column;
        height: 15vh;
        position: relative;
        border-bottom: 1px solid white;

    }

    header h1 {
        font-size: 42px;
    }

    header > section > a {
        display: none;
    }

    header > section {

        align-items: center;
        width: 100%;
        height: 100%;
        display: flex;
        background-color: gray;

    }

    header summary {
        font-size: 32px;
    }

    header details {

        position: absolute;
        width: 95%;
        text-align: right;
        
    }

    header details ul {

        position: absolute;
        width: 100%;
        padding-top: 5vh;

    }

    header details li {

        width: 100%;
        text-align: center;
        background-color: black;
        padding: 1vh 0;
        border: 1px solid white;

    }

    header details a {
        color: white;
        font-size: 18px;
        font-weight: 600;
    }

    /* NAV MENU PART */
    nav {
        display: none;
    }

    /* FOOTER PART*/

    footer {
        display: flex;
        height: 8vh;
    }
    
    footer section {
        width: 100%;
        height: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer p {
        color:white;
    }

    footer a {
        color: steelblue;
    }

    /* Store Page */

    /* .store-gallery > article {
        display: flex;
    } */

    .store-gallery  section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 5vh;
    }

    .store-gallery figure {
        
        background-color: gainsboro;
        padding: 2vh;
        width: 15%;
        height: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2vh;
        box-shadow: 0 0 5px black;
    }

    .store-gallery figcaption {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1vh;
    }

    .store-gallery button {
        padding: 1vh;
        background-color: lightblue;
        border-radius: 5px;
    }

    /* product page */

    .store-product > section {
        display: flex;
        justify-content: center;
        column-gap: 5%;
        
    }

    .store-product figure {
        width: 30%;
        display: flex;
    }

    .store-product article {
        width: 40%;
        display: flex;
        flex-direction: column;
        row-gap: 4vh;
    }


}

@media ( min-width: 700px ) {

    header details {
        display: none;
    }

    header > section {
        justify-content: center;
        column-gap: 60%;
    }

    header > section > a {
        display: block;
        background-color: black;
        padding: 1vh;
        color: white;
        font-size: 18px;
        border-radius: 5px;
    }

    nav {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 5vh;
        background-color: black;
        border-bottom: 1px solid white ;
        border-top: 1px solid white ;
    }

    nav ul {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    nav li {
        width: 100%;
        border-right: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav li:first-child{
        border-left: 1px solid white;
    }

    nav a {
        color: white;
        font-size: 22px;
        font-weight: 600;
    }

}

@media ( min-width: 1200px ) {

    header > section {
        column-gap: 75%;
    }

    nav ul {
        width: 50%;
    }

}